body {
	margin: 1vw;
}

.tab-pane {
	padding: 20px;
}

@media (min-width: 400px) {
	[type=text], [type=email], [type=tel] {
		width: 200px;
	}
}

label {
	font-weight: normal;
}

img {
	margin-bottom: 25px;
}